.git
.gitignore
.gitattributes
node_modules
**/node_modules
dist
**/dist
temp
**/temp
backend/temp
frontend/dist
.env
backend/.env
frontend/.env
*.log
tests
deploy.sh
deploy.ps1
README_DEPLOY.md
README.md
LICENSE
