.gcloudignore
.git
.gitignore
.dockerignore
node_modules
dist
docs
backend/dist
frontend/dist
.system_generated
tests
backend/node_modules
frontend/node_modules
frontend/public/docs/images/*.webm
backend/scratch_*.js
backend/temp/*
backend/data/*
*.log
*.tgz
