# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
server/logs
server/node_modules
server/server.log
server/tmp
# Node dependencies
node_modules
backup
tmp
standalone

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
pnpm-lock.yaml
.vscode/settings.json

_run.cmd
tests
backend/temp/*
backend/data/*
docs/hackathon_submission.md
docs/video_script.md
frontend/package-lock.json
IDE_FIX_GUIDE.md
package-lock.json
frontend/test.js
